{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

	{% for poll in polls %}
	<form action="{% url 'question:point' poll.id %}" method="post">
	{% endfor %}
    {% csrf_token %}
    {% for question in questions %}
    	<p>{{ question.title }}</p>
    {% for answer in question.answer_set.all %}
        	<input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.point }}" />
        	<label for="answer{{ forloop.counter }}" >{{ answer.answer }}</label>
        <br>
	{% endfor %}
		<input type="submit" value="Отправить"/>
	{% endfor %}
	</form>

	{% for poll in polls %}
	<form action="{% url 'question:save' poll.id %}" method="post">
	{% endfor %}
    {% csrf_token %}
		<input type="submit" name="total" value="Показать результаты"/>
	</form>


	{% for poll in polls %}
	<a href="{% url 'question:results' poll.id %}">Результаты</a>
	{% endfor %}

{% verbatim %}
	<div id="app">
  		{{ message }}
	</div>
{% endverbatim %}



<script src="{% static "/js/app.js" %}"></script>
</body>
</html>