{% extends 'base.html' %}
{% block content %}
    <button class="add">Добавить ответ</button>
	<form method="post" style="margin: 5%"> 
		<div id="answer">
			{% csrf_token %} 
			<p>{{ "Варианты ответов" }}</p>
        	<div>
				<p>{{ "Выберите Вопрос:" }}  {{ form.question }}</p>
			</div>				
			<div id="answer_clone">
				<p>{{ "Ответ:" }}{{ form.answer }}</p>
				<p>{{ "Балл" }}{{ form.point }}</p>
			</div>
			<br>
		</div>	
		<input type="submit" value="Сохранить">  
	</form>  
{% endblock %}