{% extends 'question_create.html'  %}
{% block content %}

<!-- 	<form action="" method="post">
	{% csrf_token %}
	<input type="text" name="create_answer">
	<label for="create_answer"> Кол-во </label>
	<input type="submit" value="ответ" >
</form>
 -->
	<div class="form-answer">
		<form id="form-answer" method="post">
			<!--<button id="add-answer" type="button">Добавить ответы</button>-->
			{% csrf_token %}
			{{answer_formset.management_form}} 

			{% for form in answer_formset %}  
	    	<div id="add_answer">
	    		<p>{{ form.question }}</p>
	    		<p> Введите {{forloop.counter }} ответ: {{ form.answer }} Баллов за ответ {{ form.point }}</p>
	           	<br>
	        </div>  
	  		{% endfor %}  
		</form>
	    <button type="submit" form="form-answer" >Сохранить</button>
	</div> 
{% endblock %}