{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head> 
<body>  
    {%if request.user.is_authenticated%}
    <h3 style="display: flex; justify-content: center;"> Сегодня - {{ date }} <br> {{ time }} </h3>
    <div class="conteiner" style="display: flex; justify-content: center;">
    {% endif %}    
        {% if request.user.is_authenticated and request.user.is_staff %}
        <nav class="nav" style="margin: 10px;">
            <ul class="nav nav-pills" style="margin-left: 10px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Конструктор опроса</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"  href="{% url 'question:poll_create' %}"> Добавить новый опрос </a>
                        <a class="dropdown-item"  href="{% url 'question:question_create' %}"> Добавить вопрос в существующий опрос </a>                    
                    </div>
                </li>
                <li class=" nav-item">
                    <a class="nav-link " href="{% url 'question:result_admin' %}"> Результаты тестирований </a>                
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Админка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/logout" >Выйти</a>  
                </li>

        {% endif %}

        {% if not request.user.is_staff and request.user.is_authenticated %}
                <li class="nav-item" style='list-style-type: none;'>
                    <a class="nav-link"  href="/logout" >Выйти</a>  
                </li>
        {% endif %}
            </ul> 
        </nav>
    </div>
    
    {% if not request.user.is_authenticated %}
        
    <p style="display: flex; justify-content: center; margin-top: 2rem;">Пройти процедуру<a href="register/"> &nbsp регистрации</a> &nbsp  или <a href="login"> &nbsp войти на сайт</a>!</p>
    
    {% endif %}
    {% block content %}
    <div>        
        {% if request.user.is_authenticated and request.user.is_staff %}
            <h3  style="display: flex; justify-content: center; margin-top: 1rem;">Для пользователей активны следующие опросы</h3>
            {% for p in poll %}
            {% if p.is_active %}
            <h4 style="display: flex; justify-content: center; margin-top: 1rem;" > {{forloop.counter}}. {{ p.title }} </h4>
            {% endif %}
            {% endfor %}

        {% elif request.user.is_authenticated %}
            <h3 style="display: flex; justify-content: center;" > Проверьте наличие доступных <a href="{% url 'question:answer_poll' %}">&nbsp опросов</a> </h3>
    
        {% endif %}
    </div>
    {% endblock %}



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>

</html>