<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		<h1>Опрос: {{ polls }} </h1>
	


		<h3>{{ question.title }}</h3>
	

		<form action="{% url 'question:points' question.id %}" method="POST">
		{% csrf_token %}
		{% for answer in question.answer_set.all %}
		<div class="form-check">
			<input class="form-check-input" type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{answer.point}}"/>
			<label class="form-check-label" for="answer{{ forloop.counter }}"> {{ forloop.counter }}. {{ answer.answer }} </label>
		{% endfor %}
		</div>
		<input type="submit" value="Отправить">

		</form>
		
	
	</div>
	

	
</body>
</html>